[submodule "Modules/foleys_gui_magic"]
	path = Modules/foleys_gui_magic
	url = https://github.com/Chowdhury-DSP/foleys_gui_magic.git
[submodule "Modules/JUCE"]
	path = Modules/JUCE
	url = https://github.com/juce-framework/JUCE.git
